@model IEnumerable<Online_Banking.Models.Transactions_174797_Project>

@{
    ViewBag.Title = "Index";
}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Home" class="navbar-brand">  <img src="~/Images/logo_bank.png" alt="Company logo" width="120" height="60" /></a>
                @Html.ActionLink("Delta Bank", "Index", "Registration", new { area = "" }, new { @class = "navbar-brand" });
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "Registration")</li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Customer care", "Contact", "Home")</li>
                <li align:Right>@Html.ActionLink("Logout", "LogOut", "Registration")</li>
            </ul>
            <div class="navbar-collapse collapse">

            </div>
        </div>
        </div>
    
</body>

<h2>Transaction details</h2>


<p>
    @using (Html.BeginForm("Index", "Transactions", FormMethod.Get))
    {
    <p>
       Confirm  Email: @Html.TextBox("SearchStringCustemail")
        @*Account Type: @Html.DropDownList("acctType", "All")*@

        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
}
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeofTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account_Master_174797_Project.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account_Master_174797_Project.Account_Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account_Master_174797_Project.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account_Master_174797_Project.Account_Type)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Transaction_ID })

            </td>
        </tr>
        }

    </table>
